# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/.firebase/geeks-empire-website/hosting/assets/fonts/MaterialIcons-Regular.otf
/.firebase/geeks-empire-website/hosting/assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/.firebase/geeks-empire-website/hosting/assets/shaders/ink_sparkle.frag
/.firebase/geeks-empire-website/hosting/assets/AssetManifest.bin
/.firebase/geeks-empire-website/hosting/assets/AssetManifest.json
/.firebase/geeks-empire-website/hosting/assets/FontManifest.json
/.firebase/geeks-empire-website/hosting/assets/NOTICES
/.firebase/geeks-empire-website/hosting/canvaskit/chromium/canvaskit.js
/.firebase/geeks-empire-website/hosting/canvaskit/chromium/canvaskit.wasm
/.firebase/geeks-empire-website/hosting/canvaskit/canvaskit.js
/.firebase/geeks-empire-website/hosting/canvaskit/canvaskit.wasm
/.firebase/geeks-empire-website/hosting/canvaskit/skwasm.js
/.firebase/geeks-empire-website/hosting/canvaskit/skwasm.wasm
/.firebase/geeks-empire-website/hosting/canvaskit/skwasm.worker.js
/.firebase/geeks-empire-website/hosting/icons/Icon-192.png
/.firebase/geeks-empire-website/hosting/icons/Icon-512.png
/.firebase/geeks-empire-website/hosting/icons/Icon-maskable-192.png
/.firebase/geeks-empire-website/hosting/icons/Icon-maskable-512.png
/.firebase/geeks-empire-website/hosting/.last_build_id
/.firebase/geeks-empire-website/hosting/favicon.png
/.firebase/geeks-empire-website/hosting/flutter.js
/.firebase/geeks-empire-website/hosting/flutter_service_worker.js
/.firebase/geeks-empire-website/hosting/index.html
/.firebase/geeks-empire-website/hosting/main.dart.js
/.firebase/geeks-empire-website/hosting/manifest.json
/.firebase/geeks-empire-website/hosting/version.json
/.firebase/hosting.LmZpcmViYXNlXGdlZWtzLWVtcGlyZS13ZWJzaXRlXGhvc3Rpbmc.cache
/.firebaserc
/.firebase/
